<div class="navbar">
    <a class="internal-link" style="color:blue" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
    <container id="nav-links">
        <div class="nav-link">
        <a class="internal-link" id="nav-link" href="/" aria-label="View about page">
            About
        </a>
    </div>
    <div class="nav-link">
        <a class="internal-link" id="nav-link" href="/notes" aria-label="View index page">
            Index
        </a>
    </div>
    <div class="nav-link">
        <a class="internal-link" id="nav-link" href="/books" aria-label="View books page">
            Books
        </a>
    </div>
    <div class="nav-link">
        <a class="internal-link" id="nav-link" href="/pictures" aria-label="View pictures page">
            Pictures
        </a>
    </div>
    </container>
    </span>
</div>
