<div class="navbar">
    <a class="internal-link" style="color:blue" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
    <span id="nav-links">
        <a class="internal-link" id="nav-link" href="/about" aria-label="View about page">
            About
        </a>
        <a class="internal-link" id="nav-link" href="/index" aria-label="View index page">
            Index
        </a>
        <a class="internal-link" id="nav-link" href="/library" aria-label="View books page">
            Books
        </a>
    </span>
</div>
