---
layout: default
---

<content>
  {{ content }}
</content>

<!-- Book cover gallery-->

<div style="display:block" >
  {% assign booklist = site.books | sort: 'finished' | reverse %}
  <container class="card-stack-4col">
    {% for book in booklist %}
    <a class="card-link" href={{book.url}}>
      <div class="book"><img class ="book" src= "/books/{{book.image-url}}"></div>
    </a>
    {% endfor %}
  </container>
  </div>

  <style>
    .wrapper {
      max-width: 46em;
    }
  
    body {
      max-width: 46em;
    }
  </style>
