---
layout: default
---

<content>
  {{ content }}
</content>


<!--List of index cards-->

<h3 style="text-align: center;">Index of all notes</h3>
<br>
<div style="display:block" >
  {% assign noteList = site.notes | sort : 'updated' | reverse %}
  <container class="card-stack-3col">
    {% for note in noteList %}
    <a class="card-link"; style="display:block" href={{note.url}}>
      <div class="card">
        <h5>{{note.title}}</h4> 
        <div class="card-metadata">
          <span>  </span>
          <span class="indexDate">Last update: {{note.updated | date: "%-d %B '%y" }}</span>
        </div>
      </div>
    </a>
    {% endfor %}
  </container>
  </div>
